<!--Navbar-->
<mdb-navbar SideClass="navbar  navbar-expand-lg navbar-inverse scrolling-navbar">
  <logo>
    <img class="navbar-brand " src="./assets/img/logo-visionplus-2018.png" width="250px">
  </logo>
  <links>
    <form class="form-inline waves-light waves-light ml-auto white-text" mdbRippleRadius>
      <input class="form-control mr-sm-2" type="text" aria-label="Search">
      <button class="btn transparent btn-sm my-0 waves-light " type="submit" mdbRippleRadius>
        <i class="fa fa-2x fa-search" aria-hidden="true"></i>
      </button>
    </form>
    <div class="socio">
        <a class="btn-floating btn-fb waves-light" mdbRippleRadius>
            <i class="fa fa-facebook"> </i>
          </a>
          <a class="btn-floating btn-tw waves-light" mdbRippleRadius>
            <i class="fa fa-twitter"> </i>
          </a>
          <a class="btn-floating btn-li waves-light" mdbRippleRadius>
            <i class="fa fa-linkedin"> </i>
          </a>
    </div>
  </links>
</mdb-navbar>
<!--/.Navbar-->
<router-outlet></router-outlet>
