<div class="view intro hm-white-light" style="min-height:600px!important;">
  
              <!--Carousel Wrapper-->

              <mdb-carousel [animation]="'slide'" class="view  hm-purple-light">
                <!--First slide-->

                <!--/First slide-->
                <!--Second slide-->
                <mdb-slide>
                  <img class="d-block w-100" src="../../assets/img/home-slide-01.jpg" alt="Second slide">
                </mdb-slide>
                <!--/Second slide-->
                <!--Third slide-->
                <mdb-slide>
                  <img class="d-block w-100" src="../../assets/img/home-slide-02.jpg" alt="Third slide">
                </mdb-slide>
                <!--/Third slide-->
                <!--Fourth slide-->
                <mdb-slide>
                  <img class="d-block w-100" src="../../assets/img/home-slide-03.jpg" alt="Fourth slide">
                </mdb-slide>
                <!--/Fourth slide-->
                <!--Fifth slide-->
                <mdb-slide>
                  <img class="d-block w-100" src="../../assets/img/home-slide-04.jpg" alt="Fifth slide">
                </mdb-slide>
                <!--/Fifth slide-->

              </mdb-carousel>
              <!--/.Carousel Wrapper-->
         
</div>

<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center mb-5">
      <h1 class="font-bold light-blue-text my-5">Bienvenue</h1>
      <p align="justify"><strong>Vision [+] est une marque d'Aplus Système Automation qui couvre un très large spectre des besoins en Digital Media. Elle permet de répondre aux contraintes spécifiques des applications MultiMedia et se compose d'une gamme complète d'éléments en mobiliers d’intérieur et/ou d’extérieur.</strong><br>
        On peut y trouver des totems d’affichages interactifs, pupitres Interactifs, bornes multi-usages, écrans muraux, solutions vitrines mais encore des sucettes outdoor, totem urbain jusqu’au Menu Board.</p>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>

<div class="view intro hm-white-light" style="background-image: none; z-index: 0; min-height: 700px;">
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row mt-5 py-5">
        <div class="col-md-12 wow fadeIn mb-3" style="animation-name: none; visibility: visible;">
          <div class="text-center">
            <img src="./assets/img/logo-visionplus-2018.png" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="video-parallax">
    <video src="./assets/video/showrooms_CLIPCHAMP_480p.mp4" frameborder="0" autoplay="" loop=""></video>
  </div>
</div>

<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h1 class="font-bold grey-text mb-5">Nos solutions logicielles</h1>
      <section class="section pb-3">

        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-12 mb-r">
  
            <!-- Card -->
            <div class="card card-image" style="background-image: url('./assets/img/slide/slide-informatique.jpg');">
  
              <!--Pricing card-->
              <div class="text-white text-center pricing-card d-flex align-items-center rgba-blue-strong py-3 px-3">
  
                <!--Content-->
                <div class="card-body">
                  <h5>Affichage dynamique</h5>
                </div>
  
              </div>
              <!--Pricing card-->
            </div>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-3 col-md-12 mb-r">
  
            <!-- Card -->
            <div class="card card-image" style="background-image: url('./assets/img/slide/slide-defense.jpg');">
  
              <!--Pricing card-->
              <div class="text-white text-center pricing-card d-flex align-items-center rgba-green-strong py-3 px-3">
  
                <!--Content-->
                <div class="card-body">
                  <h5>Orientation</h5>
                </div>
  
              </div>
              <!--Pricing card-->
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-12 mb-r">
  
            <!-- Card -->
            <div class="card card-image" style="background-image: url('./assets/img/slide/slide-digital.jpg');">
  
              <!--Pricing card-->
              <div class="text-white text-center pricing-card d-flex align-items-center rgba-orange-strong py-3 px-3">
  
                <!--Content-->
                <div class="card-body">
                  <h5>Paiement</h5>
                </div>
  
              </div>
              <!--Pricing card-->
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-12 mb-r">
  
            <!-- Card -->
            <div class="card card-image" style="background-image: url('./assets/img/slide/slide-pos.jpg');">
  
              <!--Pricing card-->
              <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3">
  
                <!--Content-->
                <div class="card-body">
                  <h5>Catalogue de vente</h5>
                </div>
  
              </div>
              <!--Pricing card-->
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
  
      </section>
      <!--Section: Pricing v.2-->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>

<div class="view intro hm-pink-slight" style="background-image: url('./assets/img/bg-marque-vision-plus.jpg'); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img">
  </div>
</div>

<div class="view intro hm-purple-slight" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/background.jpg); background-attachment: fixed; min-height: 700px">
  <div class="full-bg-img">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h1 class="display-1 white-text mb-2 wow fadeInDown" data-wow-delay="0.3s">Made in France</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h1 class="font-bold pink-text mb-5">Lorem ipsum dolor sit amet, consectetur quis elit.</h1>
      <p align="justify">Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit,
        ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem
        ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas
        dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum
        dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores
        maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit
        amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime
        nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet,
        consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt
        possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur
        quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus
        quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis
        elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis,
        soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit.
        Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta
        velit debitis amet, veritatis cupiditate reprehenderit.</p>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>
